*{
    color: #ffffff;   
}

.bg-Menu{
    background-image: url('../../../assets/fondoMenu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}