.bg-Menu{
    background-image: url('../../../assets/fondoMenu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.form-Login{
    background: #ffffff;
    border: 0px solid #ffffff;
    padding: 50px 60px;
    margin-top: 5vh;
    -webkit-box-shadow: 1px 4px 26px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 10px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 10px rgba(0,0,0,0.75);
}